h3 {
    color: blue; 
    text-decoration: underline;
}

h1 {
    font-family:Times New Roman, Times, serif;
    color: red;
}
body {
	
    background-image: url("../imgs/logo-sntpk.png");
    background-attachment: fixed; /* Le fond restera fixe */
    background-repeat: no-repeat; /* Le fond ne sera pas répété */
    background-position: top right; /* Le fond sera placé en haut à droite */
    background-size: 120px 48px;

}

