




body #corps {
	margin-top: 100px;
	margin-left:25%;
	width: 60%;
    font-family: "Times New Roman";
}
 
section  p {
    color: blue;
   	
    font-size:110%;
    border:2px solid blue;
    border-radius:20px 20px;
    padding:10px;
}

section #med {
	color: #000099;
	margin-left: 150px;

}
section p img {
	width:100px;
    height:100px;
    float: left;
}

