 #pied-page p {
	position:relative;
	bottom: 0;
	text-align: center;
	margin-top: 60px;
	border: 1px solid #EEE; 
	border-radius: 20px 20px;
	
	height: 20px;
	background: #000099;
	color: white;
	width: 100%;
	
	
}
	