body #header {
    position:relative;
	top: 5px;
	height: 80px;
	background : #000099;
	border : 1px solid #EEE;
	border-radius:20px 20px;
	width : 60%;
	left: 20%;
	text-align: center;
	color: white;
	
}
