
#aut h2 {
	margin-left: 250px;
	color: gray;
	text-decoration: underline;
	
}


form #login {
	margin-top: 350px;
	background-color: #FAFAFA;
	padding: 10px;
	width: 600px;
	
}

#login input,textarea,select,option  {
	background-color: #FFF3F3;
	
}

#login input,textarea,select {
	padding: 10px;
	border: 3px solid #F5C5C5;
	border-radius: 5px;
	box-shadow: 1px 1px 2px #C0C0C0 inset;
}

#login select {
	margin-top: 30px;
}

#login input[type=radio]{
	background-color: transparent;
	border: none;
	width: 10px;
}

#login input[type=submit] {
	margin-top: 1px;
	margin-left: 200px;
	width: 150px;
	box-shadow: 1px 1px 1px #D83F3D;
	cursor: pointer;
}

#login input[name=login] {
	margin-top: 100px;
	margin-left: 200px;
	width: 275px;
	box-shadow: 1px 1px 1px #D83F3D;
	cursor: pointer;
}
#login input[name=password] {
	
	margin-left: 200px;
	width: 275px;
	box-shadow: 1px 1px 1px #D83F3D;
	cursor: pointer;
}

#login input[type=reset] {
	width: 150px;
	margin-bottom: 60px;
	box-shadow: 1px 1px 1px #D83F3D;
	cursor: pointer;
}