table, th, td {
   border: 1px solid blue;
  
}

table {
    width: 40%;
    margin-left: 100px;
    margin-top: 10px;
    background-color: #3d7a99;
}

th {
    height: 40px;
    text-align: center;
    background-color: #18313d ;
    color: white;
    border-radius: 10px;
}
td {
    padding: 15px;
    
    color: black;
}
tr.odd {
       background-color: #ff3300; 
}
tr.even {
     background-color: #3d7a99;
}

